html {
	height: 100%;
}

body {
	height:100%; 
	position:relative;
	color: #FFF;
	background: linear-gradient(to bottom, #29bf89 0%, #0083bb 100%);
	background-repeat: no-repeat;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcomebox {
	margin: auto;
	width: 300px;
	height: 300px;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-family: 'Quicksand', sans-serif;
	color: #29BF89;
}

p,h1 {
	text-align: center;
}

.green {
	font-size: 20px;
}
/* green color: #29BF89 */

/* blue color: #0083BB; */

.title {
	color: #FFF;
	float: left;
	margin-left: 1%;
	font-family: 'Indie Flower', cursive;
}

.button {
	background-color: #0083BB;
	margin: auto;
	font-size: 25px;
	text-align: center;
	color: #F0F8FF;
	height: 60px;
	line-height: 60px;
	border-radius: 15px;
}

.button:hover {
	-webkit-box-shadow: 0px 5px 60px -4px rgba(54,54,54,1);
	-moz-box-shadow: 0px 5px 60px -4px rgba(54,54,54,1);
	box-shadow: 0px 5px 60px -4px rgba(54,54,54,1);
}

.message {
	color: #F0F8FF;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
}

a {
	text-decoration: none;
}